<main id="home-main">
    <img class="title-logo" src="../../../public/img/—Pngtree—real estate house logo design_5534942.png" alt="">
    <h1 class="title-home">Real Estate Sozopol</h1>

    <form id="home-form">
        <ul class="search-ul">
            <li class="search-li">
                <label for="">Вид имот</label>
                <select name="type" id="">
                    <option value="1-СТАЕН">1-СТАЕН</option>
                    <option value="2-СТАЕН">2-СТАЕН</option>
                    <option value="3-СТАЕН">3-СТАЕН</option>
                    <option value="МНОГОСТАЕН">МНОГОСТАЕН</option>
                    <option value="КЪЩА">КЪЩА</option>
                    <option value="ХОТЕЛ">ХОТЕЛ</option>
                    <option value="МАГАЗИН">МАГАЗИН</option>
                    <option value="РЕСТОРАНТ">РЕСТОРАНТ</option>
                    <option value="ПАРЦЕЛ">ПАРЦЕЛ</option>
                </select>
            </li>
            <li class="search-li">
                <label for="">Сортиране според</label>
                <select name="type" id="">
                    <option value="">Най-ниска цена</option>
                    <option value="">Най-висока цена</option>
                    <option value="">Най-нови обяви</option>
                </select>
            </li>
            <li class="search-li">
                <label for="">Макс.цена <span>(EUR)</span></label>
                <input type="text" name="price">
            </li>
            <li class="search-li">
                <label for="">Мин. кв. <span>(кв.м.)</span></label>
                <input type="text" name="price">
            </li>
        </ul>
        <button id="search-btn">ТЪРСИ</button>
    </form>
    <div class="last-added-title">
        <h2>Последно добавени имоти</h2>
    </div>

    <div class="last-added-container">
        {{#each lastAdded}}
        <a href="/catalog/{{_id}}/details">
            <img src="{{images.0.url}}" alt="">
            <div class="ad-info">
                <span class="ad-type">{{type}}</span>
                <span class="ad-kvadratura">{{area}}кв.м</span>
                <span class="ad-cena">{{price}} EUR</span>
            </div>
        </a>
        {{/each}}
    </div>
</main>